/* Defining borders for every element */
* {
  box-sizing: border-box;
}

/* Styling the content of the page */
body {
  font-family: Calibri;
  margin: 0;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
/* Seting the font color */
  color: #F8F8FF;
/* Seting the background color */
  background: #0A1200;
/* Keeping the navigation bar fixed while scrolling */
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
/* Defining margins for the conainer that holds the logo and the text "Grouper" */
/* This also defines the borders that also act as a link to the home page */
.home {
  margin: 10px 5px;
}
.logo {
	float: left;
}
/* Grouper text */
.heading {
	float:left;
	font-size: 3.5em;
	margin: 71px 0 0 -62px;
	padding: none;
	color: #F8F8FF;
	text-decoration: none;
}
/* CLearfix for loat elements */
.clearfix {
	clear:both;
}
.dropdown {
  position: absolute;
  flex: 50%;
  align-items:flex-start;
  justify-content:right;
  margin-bottom: 67px;
  margin-top: 53px;
  margin-right: 20px;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 1750px;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #0A1200;
  color: #F8F8FF;
  margin-left: -100px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-transition: visibility 0.4s; /* For Safari 3.1 to 6.0 */
  transition: visibility 0.4s;
}
/* Style the navigation bar links */
.dropdown-content a {
  color: #F8F8FF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.7em;
  text-decoration: none;
  text-align: center;
  -webkit-transition: color 0.4s, background-color 0.4s; /* For Safari 3.1 to 6.0 */
  transition: color 0.4s, background-color 0.4s;
}
/* Change color on hover */
.dropdown-content a:hover {
	background-color: #F8F8FF;
	color: #0A1200;
}
/*To display flash messages under the header*/
.flash {
	background-color: #F8F8FF;
	color: #A81F11;
	font-size: 1.3em;
	margin-top: 161px;
	padding-left: 50px;
	position: fixed;
	display: inline-block;
	z-index: 2;
	top: 0;
	width: 100%;
}
/* Styling the Texas A&M logo in the footer */
.tamu {
	/* Allowing the logo to flex upto 10% of the width of the footnote element */
	flex: 10%;
	text-align: right;
}
/* The text in the Footer */
.footnote {
	flex: 26%;
	text-align: right;
	/* Font size below is relative to the font size of the page content */
	font-size: 1.7em;
}

/* Column container */
/* row and row1 define styles for the entire width of the body (for different pages) */
.row {  
  width: 95%;
  display: flex;
  margin: 250px auto 80px;
  border-radius: 25px;
  /* To automatically adjust width when zooming in or transitioning to mobile  */
  flex-wrap: wrap;
  text-align:center;
  justify-content:center;
  align-content: center;
  align-items:flex-start;
  opacity: 1;
}

.row1 {  
  width: 30%;
  display: flex;
  margin: 250px auto 80px;
  border-radius: 25px;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
  align-items:center;
  opacity: 1;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
	 /* (20% of row) */
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px 0;
  margin-right: 20px;
  border-radius: 12px;
  align-items:flex-start;
  justify-content:center;
  align-content: center;
  box-shadow: 0 15px 10px #18400B;
}

/* Main column */
.main {
	/* 75% of row*/
  flex: 75%;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px 0;
  border-radius: 12px;
  text-align:center;
  justify-content:center;
  align-content: center;
  align-items:flex-start;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 15px 10px #18400B;
}
/*input fields*/
.input {
	/* 1.7 times the font of the body */
	font-size: 1.7em;
}
/*all texboxes in forms*/
.textbox {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
   /* Border-radius makes text boxes and containers rounded */
  border-radius: 4px;
}

/* Styling buttons such as Submit and Log-In */
.button {
	background: rgba(29, 92, 189, 1);
	color: #F8F8FF;
	width: 80%;
	padding: 12px 20px;
	margin: 8px 10px;
    display: inline-block;
	font-size: 1em;
	opacity: 1;
	-webkit-transition: background 0.1s; /* For Safari 3.1 to 6.0 */
	transition: background 0.1s;
}
.delbutton {
	background: #A81F11;
	color: #F8F8FF;
	width: 80%;
	padding: 12px 20px;
	margin: 8px 10px;
    display: inline-block;
	font-size: 1em;
	opacity: 1;
	-webkit-transition: background 0.1s; /* For Safari 3.1 to 6.0 */
	transition: background 0.1s;
}
.linkbutton {
	background: #0A1200;
	color: #F8F8FF;
	width: 10%;
	padding: 20px 40px 20px 20px;
	box-shadow: 1px 1px 5px #F8F8FF;
	border: 1px solid #ccc;
	border-radius: 4px;
    display: block;
	font-size: 2em;
	opacity: 1;
	-webkit-transition: background 0.1s; /* For Safari 3.1 to 6.0 */
	transition: background 0.1s;
}

/* Removing underlines and font-colors from links (here buttons) */
a.button {
	text-decoration: none;
}

/* Adding hovering effects to buttons */
.button:hover {
	background: #48A521;
}

/* Changing color of navigation links on hover */
.linkbutton:hover 
{
	background: #48A521;
}
.delbutton:hover 
{
	background: #48A521;
}
/*Making nav links visible on hovering on the button*/
.dropdown:hover .dropdown-content {
  visibility:visible;
}

/* Styling the remember me option */
#remember_me{
	font-size: 0.5em;
}

/* Positioning the list of skills and interests in the profile page */
#interest_skill{
	text-align: left !important;
	padding: 0 0 0 130px;
	
}

/* Customizing the layout of the container that holds all the project posts */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Designing the container encompassing the content of each post */
.post{
	background-color: #f1f1f1;
	box-shadow: 0 5px 3px #0A1200;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 16px 8px;
}

/* Customizing layout for the container for images in each post */
.banner{
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
}

/* Adding style to the jinja element parsing the first name of the creator of a post */
.description {
	width: 100%;
	margin: 16px 0;
	padding: 8px;
}
.profile{
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
}
.post img {
  vertical-align: middle;
  width: 100%;
}

/* Footer */
.footer {
  display: flex;
  justify-content: right;
  padding: 21px 40px;
  background: rgba(10, 18, 0, 1);
  flex-wrap: wrap;
  color: #F8F8FF;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1800px) {
  .row, .row1, .navbar, .footer{   
    flex-direction: column;
	position: static;
  }
  /* Formatting containers bases on media queries */
  .row1 {
	width: 90%;
  }
   .column {
    flex: 50%;
    max-width: 50%;
  }
  .column img {
	  max-width: 50%;
	  max-height: 40%;
  }
  .dropdown {
	  padding-left: 278px;
  }
  .heading{
	  font-size: 3.0em;
  }
  h1 {
	  font-size: 1.4em;
  }
}
h1 {
	margin: 0 10px 0 0;
	font-size: 2.5em;
	padding: 16 0 16 0;
}
.page {
  display: flex;
  justify-content:center;
  align-content: center;
  align-items:flex-start;
}
body {
  background-image: url('../images/login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}