<div class="post">
	{% set rand = range(1,29) | random %}
	{% set p = "images/banners/banner (" ~ rand ~ ").jpg" %}
	<h1>{{ project.project_name }}</h1><br><br>
	<div class="banner"><img src="{{ url_for('static', filename=p) }}" alt="project banner"/></div>
    <div class="description"></h3>by <a href="{{ url_for('user', uin=project.original_poster) }}"> {{ project.get_poster(project.original_poster).first_name }}</a>
        <br><br></h3>
    <a href="{{ url_for('project', project_id=project.project_id) }}" class="button">See More</a></div>
    </div>