<html>
    <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Grouper</title>
        {% endif %}
    </head>
    <body>
        <div class="header">
		
            <nav class="navbar"><a href="{{ url_for('index') }}" class="home"><div class="logo"><img src="{{ url_for('static', filename='images/blubby1.png') }}" alt="Blubby, the grouper" id="logo"/></div>
		<div class="heading"><strong>Grouper</strong></div><div class="clearfix"></div></a>
                    <a href="{{ url_for('index') }}" class="link">Home</a>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" class="link">Login</a>
                    {% else %}
                    <a href="{{ url_for ('user', uin=current_user.uin) }}" class="link">Profile</a>
                    <a href="{{ url_for('logout') }}" class="link">Logout</a>
                    <a href="{{ url_for('explore') }}" class="link">Explore</a>
                    {% endif %}
				
            </nav>
            
		
        </div>
        <!-- For info on flashed messages, see the routes.py file -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <!-- DO NOT DELETE THIS. It allows the other pages to use these Jinja tags
        to declare content for the page. -->
        {% block content %}{% endblock %}

            <div class="footer">
                <div class="footnote">&copy; Grouper 2019 - Team 01</div><div class="tamu"><img src="{{ url_for('static', filename='images/tamu1.png') }}" alt="Texas A&M University" id="logo"/></div>
            </div>
    </body>
</html>