{% extends "base.html" %}

{% block content %}
<div class="page" id="index">
<div class="row" id="login">
<div class="side">
    <h1>Hi, {{ current_user.first_name }}!</h1>
    {%  if projectform %}
    <form action="" method="post">
        {{ projectform.hidden_tag() }}
        <p>            
            {{ projectform.project_name(class="textbox", placeholder="Enter Project Name", size=32, cols=32, rows=4) }}<br>
            {% for error in projectform.project_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ projectform.project_type.label }}<br>
            {{ projectform.project_type(class="textbox", cols=32, rows=4) }}<br>
            {% for error in projectform.project_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ projectform.project_description(class="textbox", placeholder="Say something about your project", size=32, cols=32, rows=4) }}<br>
            {% for error in projectform.project_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ projectform.submit(class="button") }}</p>
    </form>
    {% endif %}
</div>
<div class="main">
    <form action="" method="post">
        {{ filterform.hidden_tag() }}
        <p>{{ filterform.project_type.label }} {{ filterform.project_type(class="textbox") }}</p>
        <p>{{ filterform.filter(class="button") }}</p>
    </form>
	<div class="column"> 
    {% for project in list1 %}
    
        {% include '_post.html' %}
    
    {% endfor %}
	</div>
	<div class="column"> 
    {% for project in list2 %}
    
        {% include '_post.html' %}
    
    {% endfor %}
	</div>
	<div class="column"> 
    {% for project in list3 %}
    
        {% include '_post.html' %}
    
    {% endfor %} 
	</div>
	<div class="column"> 
    {% for project in list4 %}
    
        {% include '_post.html' %}
    
    {% endfor %}
	</div>
	</div>
	</div>

	</div>
{% endblock %}