{% extends "base.html" %}

{% block content %}
<div class="page" id="project">
<div class="row">
<div class="main">
    <h1> {{ project.project_name }} </h1>
    <p> {{ project.project_description }} </p><br>
    <p>Members:</p>
    {% for member in members %}
        <p>{{ member.first_name }} {{ member.last_name }}</p>
    {% endfor %}
    {% if current_user.uin != project.original_poster %}
    <form action="" method="post">
        {{ joinform.hidden_tag() }}
        <p>{{ joinform.join() }}</p>
    </form>
    {% endif %}
    {% if current_user.uin == project.original_poster %}
    <form action="" method="post">
        {% if requests[0] %}
            {{ requestform.hidden_tag() }}
            {% if requests[0] %}
            <p> {{ requests[0].requester_fname }} </p><br>
            {{ requestform.accept1() }} {{ requestform.accept1.label }} {{ requestform.deny1() }} {{ requestform.deny1.label }}<br>
            {% endif %}
            {% if requests[1] %}
            <p> {{ requests[1].requester_fname }} {{ requests[1].requester_lname }}</p><br>
            {{ requestform.accept2() }} {{ requestform.accept2.label }} {{ requestform.deny2() }} {{ requestform.deny2.label }}<br>
            {% endif %}
            {% if requests[2] %}
            <p> {{ requests[2].requester_fname }} {{ requests[2].requester_lname }}</p><br>
            {{ requestform.accept3() }} {{ requestform.accept3.label }} {{ requestform.deny3() }} {{ requestform.deny3.label }}<br>
            {% endif %}
            {% if requests[3] %}
            <p> {{ requests[3].requester_fname }} {{ requests[3].requester_lname }}</p><br>
            {{ requestform.accept4() }} {{ requestform.accept4.label }} {{ requestform.deny4() }} {{ requestform.deny4.label }}<br>
            {% endif %}
            {% if requests[4] %}
            <p> {{ requests[4].requester_fname }} {{ requests[4].requester_lname }}</p><br>
            {{ requestform.accept5() }} {{ requestform.accept5.label }} {{ requestform.deny5() }} {{ requestform.deny5.label }}<br>
            {% endif %}
        <p>{{ requestform.submit() }}</p>
        {% endif %}
    </form>
    <form action="" method="post">
        {{ deleteform.hidden_tag() }}
        <p>{{ deleteform.delete(class="button") }}</p>
    </form>
    {% endif %}
	</div>
	</div>
	</div>
{% endblock %}