{% extends "base.html" %}

{% block content %}
<div class="page" id="project">
<div class="row1">
<div class="main">
<div class="post">
{% set rand = range(1,29) | random %}
{% set p = "images/banners/banner (" ~ rand ~ ").jpg" %}
    <h1> {{ project.project_name }} </h1><br>
	<div class="banner"><img src="{{ url_for('static', filename=p) }}" alt="project banner"/></div>
    <div class="description"></h3>by <a href="{{ url_for('user', uin=project.original_poster) }}"> {{ project.get_poster(project.original_poster).first_name }}</a>
    <br>{{ project.project_description }}<br>
    <h2><br>Members:<br></h2>
    {% for member in members %}
        <h3>{{ member.first_name }} {{ member.last_name }}</h3>
    {% endfor %}
    {% if current_user.uin != project.original_poster %}
    <form action="" method="post">
        {{ joinform.hidden_tag() }}
        <p>{{ joinform.join(class="button") }}</p>
    </form>
	</div>
    {% endif %}
    {% if current_user.uin == project.original_poster %}
    <form action="" method="post">
        {% if requests[0] %}
            {{ requestform.hidden_tag() }}
            {% if requests[0] %}
            <p> {{ requests[0].requester_fname }} </p><br>
            {{ requestform.accept1() }} {{ requestform.accept1.label }} {{ requestform.deny1() }} {{ requestform.deny1.label }}<br>
            {% endif %}
            {% if requests[1] %}
            <p> {{ requests[1].requester_fname }} {{ requests[1].requester_lname }}</p><br>
            {{ requestform.accept2() }} {{ requestform.accept2.label }} {{ requestform.deny2() }} {{ requestform.deny2.label }}<br>
            {% endif %}
            {% if requests[2] %}
            <p> {{ requests[2].requester_fname }} {{ requests[2].requester_lname }}</p><br>
            {{ requestform.accept3() }} {{ requestform.accept3.label }} {{ requestform.deny3() }} {{ requestform.deny3.label }}<br>
            {% endif %}
            {% if requests[3] %}
            <p> {{ requests[3].requester_fname }} {{ requests[3].requester_lname }}</p><br>
            {{ requestform.accept4() }} {{ requestform.accept4.label }} {{ requestform.deny4() }} {{ requestform.deny4.label }}<br>
            {% endif %}
            {% if requests[4] %}
            <p> {{ requests[4].requester_fname }} {{ requests[4].requester_lname }}</p><br>
            {{ requestform.accept5() }} {{ requestform.accept5.label }} {{ requestform.deny5() }} {{ requestform.deny5.label }}<br>
            {% endif %}
        <p>{{ requestform.submit(class="button") }}</p>
        {% endif %}
    </form>
    <form action="" method="post">
        {{ deleteform.hidden_tag() }}
        <p>{{ deleteform.delete(class="delbutton") }}</p>
    </form>
    {% endif %}
	</div>
	</div>
	</div>
	</div>
{% endblock %}