{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="main">
    <h1>So glad you decided to join!</h1>
    <form action="" method="post" class="form-signin">
        {{ form.hidden_tag() }}
        <p>
            <!-- I hate how long it took me to figure this out. These are referencing
            the forms.py file.-->
            {{ form.uin(class="textbox", placeholder="Enter UIN", size=9) }}
            {% for error in form.uin.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.fname(class="textbox", placeholder="First Name", size=32) }}
        </p>

        <p>

            {{ form.lname(class="textbox", placeholder="Last Name", size=32) }}
        </p>

        <p>
            {{ form.persona(class="textbox", placeholder="Student/Instructor") }}<br>
            {% for error in form.persona.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.phone(class="textbox", placeholder="Enter Phone Number", size=10) }}
        </p>
        
        <p>
            {{ form.email(class="textbox", placeholder="Enter Email", size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password(class="textbox", placeholder="Enter Password", size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password2(class="textbox", placeholder="Confirm Password", size=50) }}
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p><br>
		<div id="interest_skill">
        Interests:<br>
        {{ form.marketing() }} {{ form.marketing.label }}<br>
        {{ form.art() }} {{ form.art.label }}<br>
        {{ form.tech() }} {{ form.tech.label }}<br>
        {{ form.event() }} {{ form.event.label }}<br>
        {{ form.finance() }} {{ form.finance.label }}<br>
        {{ form.healthcare() }} {{ form.healthcare.label }}<br>
        {{ form.science() }} {{ form.science.label }}<br>
        {{ form.affairs() }} {{ form.affairs.label }}<br>
        Skills:<br>
        {{ form.app() }} {{ form.app.label }}<br>
        {{ form.datan() }} {{ form.datan.label }}<br>
        {{ form.database() }} {{ form.database.label }}<br>
        {{ form.document() }} {{ form.document.label }}<br>
        {{ form.presentation() }} {{ form.presentation.label }}
        {{ form.web() }} {{ form.web.label }}<br>
        <p>{{ form.submit(class="button") }}</p>
		</div>
    </form>
	</div>
	</div>
{% endblock %}